.tags {
    margin: 11px 0 0;
    padding: 0;
    list-style: none;
}

.tags li {
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
    margin-bottom: 6px;
}

.tags.cursor-default button {
    cursor: default;
}