.panel-info {
    border: 1px solid #ccc;
    /*padding: 25px 15px 15px;*/
    border-radius: 5px;
    position: relative;
}

.panel-info h3 {
    padding: 25px 15px 0;
}

.panel-info__close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}

.panel-info__close:before {
    content: "✖";
}

.panel-info h4 {
    margin-top: 10px;
}

.panel-info .question-list li:last-child {
    margin: 0;
}

